# Pandas Data Frame

In [7]:
import pandas as pd
groups = ["Modern Web", "DevOps", "Could", "Big Date", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Could       19
3    Big Date       14
4    Security        6
5       自我挑戰組       77

In [8]:
print(ironmen_df.ndim)
print(ironmen_df.shape)
print(ironmen_df.dtypes)

2
(6, 2)
groups     object
ironmen     int64
dtype: object

In [9]:
print(ironmen_df.sum())
print(ironmen_df.ironmen.sum())
print(ironmen_df.mean())
print(ironmen_df.median)
print(ironmen_df.describe())

groups     Modern WebDevOpsCouldBig DateSecurity自我挑戰組
ironmen                                           184
dtype: object
184
ironmen    30.666667
dtype: float64
<bound method DataFrame.median of        groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Could       19
3    Big Date       14
4    Security        6
5       自我挑戰組       77>
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [10]:
import pandas as pd
import numpy as np
groups = ["Modern Web", "DevOps", np.nan, "Could", "Big Date", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77, np.nan]
ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df.loc[:, "groups"].isnull()) # 判斷哪些組的組名是遺失值
print(ironmen_df.loc[:, "ironmen"].notnull()) # 判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ironmen, dtype: bool

In [12]:
a=ironmen_df.dropna()
a

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3       Could     14.0
4    Big Date      6.0
5    Security     77.0

In [13]:
b=ironmen_df.fillna(0)
b

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3       Could     14.0
4    Big Date      6.0
5    Security     77.0
6       自我挑戰組      0.0

In [14]:
c=ironmen_df.ironmen.fillna(ironmen_df.ironmen.mean())
c

0    59.000000
1     9.000000
2    19.000000
3    14.000000
4     6.000000
5    77.000000
6    30.666667
Name: ironmen, dtype: float64

In [15]:
import pandas as pd
groups = ["Modern Web", "DevOps", "Could", "Big Date", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]
# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)
ironmen_df.sort_index()

            ironmen
Big Date         14
Could            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

In [16]:
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Date         14
Could            19
Modern Web       59
自我挑戰組            77